/*1040px and below*/
@media (max-width: 64em) {
    body {
        font-size: 2.7rem;
    }

    a {
        padding: 0;
    }

    .container {
        margin: 50px 100px;
    }

    .returnbtn {
        position: relative;
        margin: 0 5px;
    }

    .usergrid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .getBtn {
        grid-column: auto;
    }

    .favBtn {
        margin-top: 35px;
    }
}

/*787 and below */
@media (max-width: 50em) {
    body {
        font-size: 2.2rem;
    }

    .container {
        margin: 50px 50px;
    }

    .goodbye {
        font-size: 3rem;
        line-height: 1.5;
    }

    a {
        font-size: 1.9rem;
    }

    .favouritesContainer {
        width: 500px;
    }

    .favouritesContainer p {
        margin-bottom: 20px;
    }
}

/*600 and below*/
@media (max-width: 42em) {
    body {
        font-size: 2rem;
    }

    a {
        font-size: 1.6rem;
    }

    .container {
        margin: 50px 25px;
    }

}

/*450px and below*/
@media (max-width: 28em) {
    .container {
        margin: 25px;
    }

    .user {
        height: auto;
    }

    .usergrid {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        grid-template-rows: 100px;
        gap: 15px;
    }

    .formgrid {
        gap: 15px;
    }

    .resultsField {
        height: 200px;
        font-size: 2rem;
    }

    .favBtn {
        margin: 0 0 20px 0;
    }

    .returnbtn {
        position: relative;
        margin-top: 5px;
    }
}