* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
    color: rgba(227, 109, 225, 0.58);
    font-size: 4.8rem;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 2px;

    background-image: url(../images/sky_cover.jpg);
    background-size: cover;
    height: 100vh;
}

h1,
h2 {
    margin-bottom: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    height: 100vh;
}

/* FORM STYLE */

.formstyle label,
.formstyle p {
    flex: 1;
    font-size: 1.6rem;
    color: #ffffff;
    margin-right: 1rem;
    text-align: right;
}

.formstyle input[type='text'],
.formstyle input[type='password'],
.formstyle input[type='checkbox'],
.formstyle button {
    flex: 1;
    padding: 0.8rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
}

.formstyle button {
    color: #ffffff;
    background-color: rgba(227, 109, 225, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.8rem;
    width: 100%;
    padding: 10px;
}

.formstyle button:hover {
    background-color: rgba(231, 197, 231, 0.8);
}

.signup,
.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: self-end;
}

.signup button,
.login button {
    align-self: stretch;
}

.goodbye p {
    margin-bottom: 15px;
    font-size: 6rem;

}

/* RETURN LINK */

.returnbtn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgba(231, 197, 231, 058);
    background-color: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 2.4rem;
}

a:hover,
a:active {
    color: rgba(227, 109, 225, 0.4);
    transition: all 0.4s ease;
}

/* SEARCH FORM */

.usergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85% 15%;
    gap: 20px;
}

.formgrid {
    display: grid;
    grid-row: 1 / span 2;
    align-content: space-between;
}

.searchField,
.checkboxField {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultsField {
    background-image: url('../images/background_cell3.jpg');
    background-size: cover;
    border-radius: 9px;

    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffffe5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.getBtn {
    grid-column: 1 / span 2;
}

.getBtn button {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.favBtn {
    align-self: center;
}

.favBtn a {
    color: rgba(221, 33, 218, 0.9);
}

.favBtn a:hover,
.favBtn a:active {
    color: rgba(231, 197, 231, 0.8);
    transition: all 0.4s ease;
}


.checkboxField label {
    font-size: 2.1rem;
}

.checkboxField img {
    width: 35px;
    height: 35px;

    margin-left: 30px;
    vertical-align: middle;

    float: left;
}

.checkboxField input {
    margin-left: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.error {
    color: rgb(251, 0, 234) !important;
    font-size: 2.4rem !important;
    margin-top: 15px !important;

    text-transform: uppercase;
    text-align: center !important;
}

/* FAVOURITES */

.containerList {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 15px
}

.formstyle .list {
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
}

.formstyle .list .listDiv {
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}

.formstyle .list label input[type='checkbox'] {
    padding: 1rem;
    font-size: 5rem;
    border-radius: 5px;
}