* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
    color: rgba(227, 109, 225, 0.4);
    font-size: 4.8rem;
    text-align: center;
    line-height: 1;

    background-image: url(../images/sky_cover.jpg);
    background-size: cover;
    height: 100vh;
}

h1,
h2 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    height: 100vh;
}

.signup,
.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: self-end;
}

.signup button,
.login button {
    align-self: stretch;
}

/* FORM STYLE */

.formstyle label,
.formstyle p {
    flex: 1;
    font-size: 1.6rem;
    color: #ffffff;
    margin-right: 1rem;
    text-align: right;
}

.formstyle input[type='text'],
.formstyle input[type='password'],
.formstyle input[type='checkbox'],
.formstyle button {
    flex: 1;
    padding: 0.8rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
}

.formstyle button {
    color: #ffffff;
    background-color: rgba(227, 109, 225, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.8rem 2rem;
}

.formstyle button:hover {
    background-color: rgba(231, 197, 231, 0.8);
}

.goodbye p {
    margin-bottom: 15px;
    font-size: 4.8rem;
}

/* RETURN LINK */

.returnbtn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgba(231, 197, 231, 0.8);
    background-color: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 2.4rem;
}

a:hover,
a:active {
    color: rgba(227, 109, 225, 0.4);
    transition: all 0.4s ease;
}

.usergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.formgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 15px;
}

.col1 {
    grid-column: 1;
    grid-row: 1;
}

.col2 {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.row2 {
    grid-column: 1 / span 2;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}