<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sky Time</title>

        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Sky Time</h1>

        <ul>
            {% if not g.user %}

            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>

            {% else %}
            <li>
                <a href="/users/{{ g.user.id }}">
                    <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
                </a>
            </li>

            <li><a href="/logout">Log out</a></li>

            {% endif %}
        </ul>

        <div class="container">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>