{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Welcome {{ g.user.username }}, the sky explorer!</h2>
    <div class="containerList">
        <div id="favourites-form" class="formstyle list">
            <p class="list">Click on one of your previous picks!</p>
            {% for data in search_data %}

            <label class="list">
                <input type="checkbox" class="list toggle" data-city="{{ data.city }}"
                    data-country="{{ data.country }}">
                City: {{ data.city }}, Country: {{ data.country }}
            </label>

            {% endfor %}
        </div>
        <div id="selected-data" class="formstyle listDiv"></div>
    </div>
    <p class="returnbtn"><a href="/">Back</a></p>

    {% endblock %}