{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="favouritesContainer">
        <p>Here, you can choose one or more from your previous picks &hearts;</p>

        <form id="favourites-form" class="formstyle">

            {% for data in filtered_data %}
            <label class="list">

                <input type="checkbox" class="list-toggle" data-city="{{ data[0] }}" data-country="{{ data[1] }}">
                {{ data[0] }}

            </label>
            {% endfor %}

            <div class="getBtn">
                <button class="submitBtn" type="button" id="get-btn-fav">Get Sky Time</button>
            </div>
        </form>

        <div id="selectedData" class="favouritesResults"></div>
    </div>

</div>
<p class="returnbtn"><a href="/">Back</a></p>

{% endblock %}