{% extends 'base.html' %}
{% block content %}

<div class="container ">

    <div class="homepage">

        <h1>Welcome to Sky Time</h1>

        {% if not g.user %}

        <p class="homepage-p">Witness stunning sunsets, moonsets, and more with ease.</p>
        <p class="homepage-p">
            <a class="homepagebtn" href="/signup">Sign up</a>
            or
            <a class="homepagebtn" href="/login">Log in</a>
        </p>
        <p class="homepage-p">Let's experience the wonders of the sky!</p>

        {% endif %}

    </div>

</div>

{% endblock %}