{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Sky Time</h1>

<div>
    <ul>
        {% if not g.user %}

        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>

        {% else %}
        <li>
            <a href="/users/{{ g.user.id }}">
                <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
            </a>
        </li>

        <li><a href="/logout">Log out</a></li>

        {% endif %}
    </ul>
</div>

{% endblock %}