{% extends 'base.html' %}
{% block content %}

<div class="container">

    <h3>Unlock the wonders of Sky Time today!</h3>

    <form method="POST" class="formstyle signup">
        {% include "_form.html" %}
        <button class="submitBtn" type="submit">Count me in for Sky Time</button>
    </form>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <p class="error">{{ message }}</p>
    {% endfor %}

</div>

<p class="returnbtn"><a href="/">Back</a></p>

{% endblock %}