{% extends 'base.html' %}
{% block content %}

<div class="container">

    <h2>Unlock the wonders of Sky Time today and sign up!</h2>

    <form method="POST" class="formstyle signup">
        {% include "_form.html" %}
        <button type="submit">Count me in for Sky Time!</button>
    </form>

    <div class="flash-messages" id="flash-messages">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>

</div>

<p class="returnbtn"><a href="/">Back</a></p>

{% endblock %}